.py-5
  .container
    .row
      =render "home/panel"
      .col-md-9
        .card.p-2
          .card-body
            %h1.mb-3.text-center.text-capitalize= params[:action]
            .row
              .col-md-3
                = link_to "Categories", categories_path, class:"btn btn-primary btn-block"
              .col-md-3
                = link_to "New Category", new_category_path, class:"btn btn-primary btn-block"
              .col-md-3
                = link_to "Products", categories_path, class:"btn btn-primary btn-block"
              .col-md-3
                = link_to "New Product", new_category_path, class:"btn btn-primary btn-block"